  <div class="form-group">
    <h2 class="theBurger">Add your Burger</h2>
    <input type="text" class="form-control mt-5 mb-5" id="burgerName" placeholder="Burger Name" required>
  </div>
  <button class="btn btn-primary addBurger float-right">Add</button>
  <br>
  <br>
  <div id="message"></div>
  