<div class="card mb-2 mt-2" id="burgerDevoured">
  <ul class="list-group list-group-flush">
{{#each burgers}}
    {{#if devoured}}
        <li class="list-group-item mb-1"><img src="./assets/images/burgerdevoured.svg" alt="The Burger" class="mr-2"><span>{{this.burger_name}}</span><button type="button" data-id="{{this.id}}" class="btn btn-danger float-right btnDelete">Delete</button></li>
    {{/if}}
{{/each}}
  </ul>
</div>